# --- Ambientes Virtuais e Dependências ---
venv/
venv_ia/
.virtualenvs/
node_modules/
bin/
lib/
include/
lib64/

# --- Inteligência Artificial (Modelos Pesados) ---
# Evita o limite de 100MB do GitHub
*.pth
*.h5
*.onnx
*.weights
*.pkl
*.tflite
*.joblib

# --- Bancos de Dados ---
*.db
*.sqlite3

# --- Arduino e Hardware ---
# Como você usa Arduino IDE, evite subir binários de compilação
build/
*.hex
*.elf
*.bin

# --- VS Code e Sistema ---
.vscode/
__pycache__/
*.py[cod]
.DS_Store
.env